

.hg
.svn

# VIM
*.swp
*.swo

*.pyc
*.pyo
*~
__pycache__/
*.hypothesis/
bin/pypy-c
include/*.h
include/numpy/
lib_pypy/ctypes_config_cache/_[^_]*_*.py
libpypy*-c.*
pypy-c
pypy/_cache
pypy/doc/*.html
pypy/doc/config/*.html
pypy/doc/discussion/*.html
pypy/module/cpyext/src/*.o
pypy/module/cpyext/test/*.o
pypy/module/test_lib_pypy/ctypes_tests/*.o
pypy/goal/pypy-c
pypy/goal/pypy*.exe
pypy/goal/target*-c
pypy/goal/*.dll
release/
!pypy/tool/release/
rpython/_cache/
.cache/
.hypothesis
lib_pypy/_audioop_cffi*
lib_pypy/_curses_cffi*
lib_pypy/_gdbm_cffi*
lib_pypy/_lzma_cffi*
lib_pypy/_posixshmem_cffi*
lib_pypy/_pwdgrp_cffi*
lib_pypy/_pypy_openssl*
lib_pypy/_pypy_util_cffi_inner*
lib_pypy/_resource_cffi*
lib_pypy/_sqlite3_cffi*
lib_pypy/_syslog_cffi*
lib_pypy/_tkinter/tklib_cffi*
rpython/rlib/rvmprof/src/shared/libbacktrace/config.h
rpython/rlib/test/_hacked_rbigint.py
include/pypy*
lib/pypy*
pypy/doc/config/*.rst
pypy/doc/config/*.txt
pypy/doc/_build
