include README-rpython.rst
exclude README.rst
recursive-include rpython/translator/c/src *.c *.h
prune _pytest
prune ctypes_configure
prune include
prune lib-python
prune lib_pypy
prune py
prune pypy
