body,body.editor,body.body {
    font: 90% "Times New Roman", Arial, Verdana, Helvetica, serif;
    background: White;
    color: Black;
}

div#main {
    position: absolute;
    top: 130px;
    left: 170px;
    margin-right: 5px;
}

div#contents {
    float: left;
    width: 160px;
}

#inp {
    font: 90% fixed;
}

#help {
    background: #EEE;
}

.menubar {
    font-weight: bold;
    float: left;
  	font: 120% Verdana, Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding-right: 0.3em;

}

.title{
  /*border-spacing: 20px;*/
  font: 160% Verdana, Helvetica, Arial, sans-serif;
  color: #3ba6ec; 
  vertical-align: center;
  padding-bottom: 0.3em;
}

div#metaspace {
    position: absolute;
    top: 20px;
    left: 170px;
}

.main {
}

.error {
  color: red;
  font-weight: bold;
}
