# This is where all of your settings go for your development environment

[global]

# DATABASE

# pick the form for your database
# sqlobject.dburi="postgres://username@hostname/databasename"
# sqlobject.dburi="mysql://username:password@hostname:port/databasename"
# sqlobject.dburi="sqlite:///file_name_and_path"

# for Windows users, sqlite URIs look like:
# sqlobject.dburi="sqlite:///drive_letter|/path/to/file"


# VIEW

# kid.outputformat="html"

# The sitetemplate is used for overall styling of a site that
# includes multiple TurboGears applications
# tg.sitetemplate="<packagename.templates.templatename>"


# SERVER

# Some server parameters that you may want to tweak
server.socketPort=8080
#server.socketHost=""

# Disable the debug output at the end on pages.
# logDebugInfoFilter.on = False
server.logFile="server.log"
server.logToScreen=False

server.environment="production" #"development"
#autoreload.package="testme"
autoreload.on = False

sessionFilter.on = True
sessionFilter.storageType = "Ram"
sessionFilter.cookieName = "BnB"

[/static]
staticFilter.on = True
staticFilter.dir = "static"
