<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <title>Python pinger</title>
    <script language="javascript" src="http://mochikit.com/MochiKit/MochiKit.js"/>
    <script type="text/javascript" src="/ping.js"/>
</head>
<body onload="ping_init()">
    <p>Pings the server:</p>
    <input id="doping" type="button" value="Ping server" />
    <pre id="log"></pre>
</body>
</html>
